{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/images/apple-touch-icon-precomposed-152.png"|resolveAsset }}">
    <link rel="shortcut icon" href="{{ "/images/favicon.png"|resolveAsset }}" type="image/x-icon">

    <script>
      (function(d) {
        var config = {
          kitId: 'juy4flo',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <style>
      .wf-loading h1,
      .wf-loading h2,
      .wf-loading h3,
      .wf-loading h4,
      .wf-loading h5,
      .wf-loading h6,
      .wf-loading p,
      .wf-loading ul,
      .wf-loading ol {
        visibility: hidden;
      }
    </style>
{% endblock %}

{% block style %}
    {### Include theme css before plugins css ###}
    <link rel="stylesheet" href="{{ "style.css"|resolveAsset }}">

    {{ super() }}

    {### Custom stylesheets for the book ###}

    {% for type, style in config.styles %}
        {% if fileExists(style) and type == "website" %}
        <link rel="stylesheet" href="{{ style|resolveFile }}">
        {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}{% endblock %}
