// Typography
// =======================================

$body-font-size: 1.2em;
$ui-font-size: 1.4rem;


// Colours
// =======================================

// UI colours

$brand-black: #191b2a;
$brand-blue: #2c2a3e;
$cta-blue: #82dcff;

$brand-white: #eef3fa;
$brand-grey: #7e909c;
$brand-warm: #ebe2e5;

$headline-black: #3d4453;
$headline-grey: #939ca2;


// Solutions Colours

// move red
$move-start: #cc2045;
// move dark blue
$move-end: #313455;

// control blue
$control-start: #619de5;
// control purple
$control-end: #552265;



// Hacks
// =======================================

// Hiding unneeded UI elements from the page through CSS. Ideally need to figure out how to do it cleanly with templating language, but it's not necessary for the MVP launch
.font-settings
  display: none;

.book-header .pull-right
  display: none;


// Legit styles
// =======================================

a
  white-space: nowrap;

// Body/basic
body,
.book,
.book-summary,
.book.font-family-1
  font-size: 14px;
  font-family: 'neuzeit-grotesk', 'proxima nova', 'proxima-nova', verdana, sans-serif;

// Sidebar
.book-summary
  color: #fafafa;
  background: $brand-black;

  // Custom scrollbard style
  &::-webkit-scrollbar-track
    background-color: $brand-black;

  &::-webkit-scrollbar
    width: 12px;
    background-color: $brand-black;

  &::-webkit-scrollbar-thumb
    box-shadow: inset 0 0 0 4px $brand-black;
    background-color: rgba($brand-white, 0.35);
    border-radius: 5px;

  // Search form
  #book-search-input
    position: relative;
    overflow: auto;
    margin: 1.25rem 0;
    color: #fff;

    background: none;
    margin: 0 10px 1.25rem;
    max-width: 230px;

    .fa-search
      position: absolute;
      top: 2.85rem;
      left: 1rem;
      font-size: 1.5rem;
      font-weight: 300 !important;
      opacity: 0.4;

      &:before,
      &::after
        font-weight: 300 !important;

    input[type="text"]
      margin-top: 1.25rem;
      padding-left: 2.5rem;
      font-size: $ui-font-size;
      border-bottom: 1px solid rgba($brand-white, 0.2);
      transition: all 0.12s linear;

    input[type="text"]::-webkit-input-placeholder
      color: rgba($brand-white, 0.5);

    input[type="text"]::-moz-placeholder
      color: rgba($brand-white, 0.5);

    input[type="text"]:-ms-input-placeholder
      color: rgba($brand-white, 0.5);

    input[type="text"]:-moz-placeholder
      color: rgba($brand-white, 0.5);

    input[type="text"]:focus,
    input[type="text"]:active
      border-bottom: 1px solid rgba($brand-white, 0.5);
      transition: all 0.12s linear;

      + .fa-search
        opacity: 1;

  // Menu
  ul.summary
    margin-top: 2rem;

    li .stratim-logo

      *
        margin: 0;

      img
        margin-right: 0.5rem;

      h2
        color: rgba($brand-white, 0.5);
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.12s linear;

      &:hover,
      &:focus
        text-decoration: none;

        h2
          color: #fff;
          transition: all 0.12s linear;

    li.divider
      background-image: linear-gradient(14deg, lighten($brand-black, 8%), $brand-black);

    li a,
    li span
      padding: 6px 15px;
      color: #aaa;

    li:not(.active) a
      transition: all 0.12s linear;

    li:not(.active) a:hover,
    li:not(.active) a:focus
      color: #fff;
      transition: all 0.12s linear;

    li.header
      padding: 20px 15px 10px;
      text-transform: uppercase;
      color: rgba($brand-white, 0.85);
      font-weight: 600;
      letter-spacing: 1.5px;

      &:before
        content: '';
        display: block;
        width: 4rem;
        height: 1px;
        background: rgba($brand-white, 0.15);
        margin-bottom: 1.5rem;
        transform: rotate(2deg);

    > li.header:first-of-type:before,
    > li.header:nth-of-type(2):before
        display: none !important;

    li.header,
    li.chapter
      font-size: $ui-font-size;

    li.active > a,
    li.active > a:hover,
    li.active > a:focus
      color: $cta-blue;
      // cursor: default;
      border-right: 4px solid $cta-blue;


// Main content section typography
// =======================================

.book.font-size-2 .book-body .page-inner section
  max-width: 600px;
  margin: 0 auto;
  font-size: $body-font-size;
  color: #222;

.markdown-section
  line-height: 1.42;

  h1, h2, h3, h4, h5, h6
    margin-top: 0.9em;
    margin-bottom: 0.45em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $headline-black;

  h1
    font-size: $body-font-size * 2;
    font-weight: 300;

  h2
    font-size: $body-font-size * 1.6;
    font-weight: 300;

  h3
    font-size: $body-font-size * 1.25;
    font-weight: 600;

  h4
    font-size: $body-font-size * 1.1;
    font-weight: 600;

  h5
    font-size: $body-font-size * 1.1;
    font-weight: 400;

  h6
    font-size: $body-font-size / 1.2;
    font-weight: 600;
    color: $headline-grey;


// Custom body modifications
// =======================================

.book-body
  background: #f8f8f8;

body:not(.with-search) .book-body.color-inverted
  background: url('/images/cover.svg') no-repeat center center, linear-gradient(14deg, $brand-blue, $brand-black);
  background-size: cover;

  .page-inner section
    color: #aaa !important;

  h1, h2, h3, h4, h5
    color: #fafafa;

body.with-search .book-body
  background-color: #f8f8f8 !important;
  background-image: none !important;


// Hard-coding Values poster image size
// =======================================
.book-body.values .markdown-section img
  max-width: 300px;
