$body-font-size: 1.2em;
$ui-font-size: 1.4rem;

$brand-black: #191b2a;
$brand-blue: #2c2a3e;

// UI colours

$cta-blue: #82dcff;

// COLOURS
// =======================================

// $brand-black: #1f242c;
$brand-white: #eef3fa;
$brand-grey: #7e909c;
$brand-warm: #ebe2e5;
$brand-highlight: $cta-blue;

$headline-black: #3d4453;
$headline-grey: #939ca2;

$brand-background-light: #fbfcfc;

$brand-gradient-start: $brand-background-light;
$brand-gradient-end: #8a9ba6;

// Solutions Colours

// move red
$move-start: #cc2045;
// move dark blue
$move-end: #313455;

// control blue
$control-start: #619de5;
// control purple
$control-end: #552265;



// Hacks

// Hiding unneeded UI elements from the page through CSS, but ideally need to figure out how to do it cleanly with templating language
.font-settings
  display: none;

.book-header .pull-right
  display: none;


// Legit style

body,
.book,
.book-summary,
.book.font-family-1
  font-size: 14px;
  font-family: 'neuzeit-grotesk', 'proxima nova', 'proxima-nova', verdana, sans-serif;

.book-summary
  color: #fafafa;
  background: $brand-black;

  &::-webkit-scrollbar-track
    background-color: $brand-black;

  &::-webkit-scrollbar
    width: 12px;
    background-color: $brand-black;

  &::-webkit-scrollbar-thumb
    box-shadow: inset 0 0 0 4px $brand-black;
    background-color: rgba($brand-white, 0.35);
    border-radius: 5px;

  #book-search-input
    position: relative;
    overflow: auto;
    margin: 1.25rem 0;
    color: #fff;
    background-image: linear-gradient(14deg, darken($brand-blue, 2%), $brand-black);
    border: 1px solid lighten($brand-blue, 6%);
    border-width: 1px 0;

    .fa-search
      position: absolute;
      top: 17px;
      left: 15px;

    input[type="text"]
      padding-left: 30px;
      font-size: $ui-font-size;

    input[type="text"]::-webkit-input-placeholder
      color: lighten($brand-blue, 45%);

    input[type="text"]::-moz-placeholder
      color: lighten($brand-blue, 45%);

    input[type="text"]:-ms-input-placeholder
      color: lighten($brand-blue, 45%);

    input[type="text"]:-moz-placeholder
      color: lighten($brand-blue, 45%);


  ul.summary
    margin-top: 1rem;

    li .stratim-logo

      *
        margin: 0;

      img
        margin-right: 0.5rem;
        // transform: translateY(-1px);

      h2
        color: lighten($brand-blue, 50%);
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.12s linear;

      &:hover,
      &:focus
        text-decoration: none;

        h2
          color: #fff;
          transition: all 0.12s linear;

    li.divider
      background-image: linear-gradient(14deg, lighten($brand-blue, 5%), $brand-black);

    li a,
    li span
      padding: 6px 15px;
      color: #aaa;

    li:not(.active) a
      transition: all 0.12s linear;

    li:not(.active) a:hover,
    li:not(.active) a:focus
      color: #fff;
      transition: all 0.12s linear;

    li.header
      padding: 20px 15px 10px;
      text-transform: uppercase;
      color: #ccc;
      font-weight: 600;

    li.header,
    li.chapter
      font-size: $ui-font-size;

    li.active > a,
    li.active > a:hover,
    li.active > a:focus
      color: $brand-highlight;
      // cursor: default;
      border-right: 4px solid $brand-highlight;


// Typography
.book.font-size-2 .book-body .page-inner section
  max-width: 600px;
  margin: 0 auto;
  font-size: $body-font-size;
  color: #222;

.markdown-section
  line-height: 1.42;

  h1, h2, h3, h4, h5, h6
    margin-top: 0.9em;
    margin-bottom: 0.45em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $headline-black;

  h1
    font-size: $body-font-size * 2;
    font-weight: 300;

  h2
    font-size: $body-font-size * 1.6;
    font-weight: 300;

  h3
    font-size: $body-font-size * 1.25;
    font-weight: 600;

  h4
    font-size: $body-font-size * 1.1;
    font-weight: 600;

  h5
    font-size: $body-font-size * 1.1;
    font-weight: 400;

  h6
    font-size: $body-font-size / 1.2;
    font-weight: 600;
    color: $headline-grey;


// Custom book body modifications
.book-body
  background: #f8f8f8;

body:not(.with-search) .book-body.color-inverted
  // background: url('https://www.stratim.com/assets/images/hero-grid.svg') no-repeat center center, linear-gradient(14deg, $brand-blue, $brand-black);
  background: url('/images/cover.svg') no-repeat center center, linear-gradient(14deg, $brand-blue, $brand-black);
  background-size: cover;

  .page-inner section
    color: #aaa !important;

  h1, h2, h3, h4, h5
    color: #fafafa;

body.with-search .book-body
  background-color: #f8f8f8 !important;
  background-image: none !important;
